/* Importing a font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

/* Resetting default styles and applying common styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* Styling the HTML element */
html {
    background-color: #181733;
    font-family: 'Bangers', cursive;
}

/* Styling a container for various elements */
.all {
    margin-top: -10%;
    margin-left: 30%;
    width: 65%;
    height: 80%;
    border-radius: 25px;
}

.alo {
    margin-top: -120px;
    margin-left: 80px;
    width: 200px;
    height: 200px;
    
}
/* Styling images */
img {
    width: 100%;
    height: 100%;
}

/* Styling a logo */
.logo {
    margin-left: 10px;
    width: 30%;
    height: 100%;
}

/* Styling the navigation header */
.nav-container {
    width: 100%;
    height: 100px;
    background: darkred;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    z-index: 1;
    position: fixed;
}

/* Styling the hamburger menu icon */
.hamburger {
    display: none;
}

/* Styling navigation bar items */
.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    display: block;
    color: #181733;
    font-size: 15px;
    padding: 10px 25px;
    border-radius: 25px;
    transition: 0.5s;
    margin: 0 10px;
}

.nav-bar ul li a:hover {
    color: black;
    background: rgb(230, 141, 24);
}

/* Styling content section */
.content {
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    background: url(https://e0.pxfuel.com/wallpapers/126/205/desktop-wallpaper-buy-efootball-pes-2020-myclub-fc-barcelona-squad.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Styling content boxes */
.content-box {
    margin-left: 10%;
}

.content-box h2 {
    font-weight: 400;
    font-size: 36px;
    color: darkred;
}

.content-box label {
    display: inline-block;
    margin-top: 5px;
    font-size: 22px;
    font-weight: 300;
    color:#c2a23a;
}

.content-box label span {
    color: darkred;
}

.content-box a {
    display: inline-block;
    margin-top: 20px;
    margin-left: 110px;
    padding: 10px;
    color: rgb(214, 214, 8);
    letter-spacing: 4px;
    font-size: 14px;
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
    box-shadow: 4px 4px 10px pink, -4px -4px 10px pink;
}

.content-box a:hover {
    box-shadow: -4px -4px 10px rgb(214, 214, 8), 4px 4px 10px rgb(214, 214, 8);
}

/* Styling category section */
.category {
    background: #c2a23a;
    margin-top: 80px 0;
}

.category-title {
    margin-top: 20px;
    margin-bottom: 90px;
}

.category-title h2 {
    text-align: center;
}

.category .category-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* Styling category boxes */
.category .category-box .box {
    margin: 30px 20px;
}

.category .category-box .box img {
    width: 600px;
    border-radius: 5px;
    height: 328px;
}

.category .category-box .box-content {
    position: absolute;
    z-index: 1;
    margin-left: 30px;
    margin-top: 100px;
}

.category .category-box .box-content h3 {
    color: rgba(199, 5, 31, 0.855);
}

.category .category-box .box-content label {
    display: block;
    font-size: 30px;
    color: orange;
}

.category .category-box .box-content a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 25px;
    font-size: 18px;
    border-radius: 25px;
    background: pink;
    transition: all 0.9s ease;
    color: black;
}

.category .category-box .box-content a:hover {
    background: orange;
}

.category .category-box .box-content.b2 {
    margin-right: 370px;
    text-align: left;
    margin-top: 110px;
}

.category .category-box .box-content.b2 h3 {
    color: rgb(203, 11, 11);
}

.category .category-box .box-content.b2 label {
    color: orange;
}

/* Styling social media icons */
.wrapper {
    display: inline-flex;
    list-style: none;
    margin-left: 38.5%;
}

.wrapper .icon {
    position: relative;
    background: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* Styling tooltips for social media icons */
.wrapper .tooltip {
    --tooltip-bg-color: darkred;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    background: var(--tooltip-bg-color);
    color: var(--tooltip-text-color);
    padding: 5px 8px;
    border-radius: 3px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    content: "";
    position: absolute;
    height: 8px;
    width: 8px;
    background: var(--tooltip-bg-color);
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .icon:hover,
.wrapper .icon:hover .tooltip,
.wrapper .icon:hover .tooltip::before {
    color: orange;
}

/* Styling footer content */
.footer-content {
    margin-left: 23%;
    color: rgb(230, 141, 24);
}







.text-marquee {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.text-wrapper {
    display: flex;
    justify-content: flex-start;
    background: #c2a23a;
    white-space: nowrap;
}

.text-wrapper h1 {
    
    font-size: 80px;
    text-transform: uppercase;
    color:#ae180d ;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-fill-color: #181733;
    white-space: nowrap;
    padding: 0 6rem;
    letter-spacing: 3px;
    animation: move-rtl 5s linear infinite;
}

@keyframes move-rtl {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

